/* Remove default margin/padding to prevent scrollbars */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

/* Ensure the root element takes up the full viewport height */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --header-height: 80px;
}

body {
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}